<%- include('./partials/header'); %>
<% if (message) { %>
<div class="alert alert-warning" role="alert">
  <%= message %>
</div>
<% } %>
<form action="<%= urls.modify_employee %>" method="post" class="w-75 mx-auto">
    <div class="text-light mb-2">First Name</div>
    <input type="text" class="form-control mb-3" name="f_name" value="<%= results.f_name %>" id="f_name" oninput="validate_fields()">
    <div class="text-light mb-2">Last Name</div>
    <input type="text" class="form-control mb-3" name="l_name" id="l_name" value="<%= results.l_name %>" oninput="validate_fields()">
    <div class="text-light mb-2">Email</div>
    <input type="text" class="form-control mb-3" name="email" id="email" value="<%= results.email %>" oninput="validate_fields()">
    <div class="text-light mb-2">Password</div>
    <input type="password" class="form-control" name="pass" id="pass" oninput="validate_fields()" disabled>
    <input type="checkbox" id="reset_pass" class="mb-3" value="Reset the password" name="reset_pass" onchange="reset_pass_actions()">
    <label class="text-light" for="reset_pass">Reset the password</label>
    <div class="text-light mb-2">System Status</div>
    <select name="is_admin" onchange='validate_fields()' class='mb-3'>
      <% if (results.is_admin) { %>
      <option value='false' >Employee</option>
      <option value='true' selected="selected">Admin</option>
      <% } else { %>
      <option value='false' selected="selected">Employee</option>
      <option value='true'>Admin</option>
      <% } %>
    </select>
    <div class="text-light mb-2">Phone</div>
    <input type="text" class="form-control mb-3" name="phone" id="phone" value="<%= results.phone %>" oninput="validate_fields()">
    <div class="text-light mb-2">Responsability</div>
    <input type="text" class="form-control mb-3" name="resp" id="resp" oninput="validate_fields()" value="<%= results.resp %>">
    <input type="hidden" name="matr" value="<%= results.matr %>">
    <div id="warn" class="alert alert-danger mb-3" role="alert" hidden="true">
    </div>
    <button id="submitbtn" type="submit" class="btn btn-primary mb-3" disabled>Modify employee</button>
</form>
</div>
<script src="/js/emp_mod_validation.js"></script>
<script src="/js/no_go_back.js"></script>
<%- include('./partials/footer'); %>
