<%- include('./partials/header'); %>
<% if (! results.length) { %> 
<div class="alert alert-warning" role="alert">
  There are currently no employees in the database.
</div>
<% } else { %>
<div class="alert alert-info" role="alert">
  Press <strong>CTRL + f</strong> to search for an employee by any information.
</div>
<table class="table table-dark table-hover">
  <tr>
    <th>#</th>
    <th>matr</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Responsability</th>
    <th>System Admin Status</th>
    <th></th>
    <th></th>
  </tr>
  <% for (let i=0; i < results.length; i++) { %>
    <tr>
      <th><%= i + 1 %></th>
      <td><%= results[i].matr %></td>
      <td><%= results[i].first_name %></td>
      <td><%= results[i].last_name %></td>
      <td><%= results[i].email %></td>
      <td><%= results[i].phone %></td>
      <td><%= results[i].resp %></td>
      <% if ( results[i].is_admin ){ %>
      <td>Admin</td>
      <% } else { %>
      <td>Not an admin</td>
      <% } %>
      <td>
        <form action='<%= urls.modify_employee %>' method='post'>
          <input type='hidden' name='matr' value='<%= results[i].matr %>'>
          <input type='submit' class='btn btn-primary' value='Modify'>
        </form>
      </td>
      <td>
        <form action='<%= urls.remove_employee %>' method='post'>
          <input type='hidden' name='matr' value='<%= results[i].matr %>'>
          <input type='submit' class='btn btn-danger' value='Delete'>
        </form>
      </td>
    </tr>
  <% } %>
</table>
<% } %>

</div>
<script src="/js/no_go_back.js"></script>
<%- include('./partials/footer'); %>
