<%- include('./partials/header'); %>
<% if (message) { %>
<div class="alert alert-warning" role="alert">
  <%= message %>
</div>
<% } %>
<h1 class='text-light fw-light'>Meet details</h1>
<% if (results[0].start_datetime > now) { %>
  <form action="<%= urls.modify_meet %>" method="post" class="w-100">
    <input type="hidden" name="code" value="<%= results[0].code %>">
    <div class="text-light mb-2">Title</div>
    <input type="text" class="form-control mb-3" name="title" id="title" oninput="validate_fields()" value="<%= results[0].title %>">
    <div class="text-light mb-2">Description</div>
    <textarea class="form-control mb-3" rows="3" name="desc" id="desc" oninput="validate_fields()"><%= results[0].description %></textarea>
    <div class="text-light mb-2">Starting date and time</div>
    <input type="datetime-local" class="form-control mb-3" name="start_d" id="start_d" oninput="validate_fields()">
    <div class="text-light mb-2">End date and time</div>
    <input type="datetime-local" class="form-control mb-3" name="end_d" id="end_d" oninput="validate_fields()">
    <div id="warn" class="alert alert-danger mb-3" role="alert" hidden="true">
    </div>
    <button id="submitbtn" type="submit" class="btn btn-primary mb-3" disabled>Modify meet</button>
</form>
<% } else { %>
  <div class="text-light mb-2">Title</div>
  <input disabled type="text" class="form-control mb-3" name="title" id="title" oninput="validate_fields()" value="<%= results[0].title %>">
  <div class="text-light mb-2">Description</div>
  <textarea disabled class="form-control mb-3" rows="3" name="desc" id="desc" oninput="validate_fields()"><%= results[0].description %></textarea>
  <div class="text-light mb-2">Starting date and time</div>
  <input disabled type="datetime-local" class="form-control mb-3" name="start_d" id="start_d" oninput="validate_fields()">
  <div class="text-light mb-2">End date and time</div>
  <input disabled type="datetime-local" class="form-control mb-3" name="end_d" id="end_d" oninput="validate_fields()">
<% } %>

<h1 class='text-light fw-light mt-5'>Participants</h1>
<% if (results.length == 1 && results[0].email == null) { %>
  <div class="alert alert-warning" role="alert">
    You don't have any participants for this meet at the moment, please add them.
  </div>
<% } else { %>
  <table class="table table-dark table-sm">
    <tr>
        <th>#</th>
        <th>Email</th>
        <th>Remove</th>
    </tr>
    <% for (var i = 0; i < results.length; i++) { %>
      <tr>
        <th><%= i + 1 %></th>
        <td class='email'><%= results[i].email %></td>
        <td>
          <form action="<%= urls.remove_participant %>" method="post">
            <input type='hidden' name="emp_matr" value="<%= results[i].matr %>">
            <input type='hidden' name="meet_code" value="<%= results[i].code %>">
            <button type="submit" class="btn btn-danger">Remove</button>
          </form>
        </td>
      </tr>  
    <% } %>
  </table>
<% } %>
<% if (results.length < 50) { %>
  <form action="<%= urls.add_participant %>" method="post" class="w-100">
    <input type="hidden" name="meet_code" value="<%= results[0].code %>">
    <div class="text-light mb-2">Add a participant</div>
    <input type="text" class="form-control mb-3" name="email" id="email" placeholder="Email (e.g. example@alamana.org.ma)" oninput="validateEmail()">
    <div id="email_warn" class="alert alert-danger mb-3" role="alert" hidden="true">
          </div>
    <button id="submit_email" type="submit" class="btn btn-primary mb-3" disabled>Add participant</button>
</form>
<% } %>


</div>
<script>
  function validateEmail(){
    var email = document.getElementById("email").value
    var email_warn = document.getElementById("email_warn")
    var submit_email = document.getElementById("submit_email")
    var reg = /^.{1,25}@alamana\.org\.ma$/;
    if (!reg.test(email)){
      email_warn.innerHTML = 'The email you entered is not valid, it should be in a format like example@alamana.org.ma.'
      email_warn.removeAttribute("hidden");
      submit_email.setAttribute("disabled", true);
      return;
    }
    var emails = document.querySelectorAll('.email')
    for (var i = 0; i < emails.length; i++){
      if (emails[i].innerHTML === email){
        email_warn.innerHTML = 'The email you entered already exists in the list of participants.'
        email_warn.removeAttribute("hidden");
        submit_email.setAttribute("disabled", true);
        return;
      }
    }
    email_warn.setAttribute("hidden", true);
    submit_email.removeAttribute("disabled");
  }
  validateEmail()

  var start_d = new Date('<%= results[0].start_datetime %>').toISOString()
  var end_d = new Date('<%= results[0].end_datetime %>').toISOString()
  var start_d_elm = document.getElementById("start_d")
  start_d_elm.value = start_d.slice(0, start_d.length - 1)
  var end_d_elm = document.getElementById("end_d")
  end_d_elm.value = end_d.slice(0, end_d.length - 1)
</script>
<script src="/js/meet_validation.js"></script>
<script src="/js/no_go_back.js"></script>
<%- include('./partials/footer'); %>
