<%- include('./partials/header'); %>
<% if (results.length) { %>
  <% for (var i = 0; i < results.length; i++){ %>
    <div class="card text-center m-4">
      <div class="card-header">
        Starts <%= results[i].start_datetime %>, until <%= results[i].end_datetime %>
      </div>
      <div class="card-body">
        <h3 class="card-title"><%= results[i].title %></h3>
        <p class="card-text"><%= results[i].description %></p>
        <a href="<%= urls.room %><%= results[i].code %>" class="btn btn-primary">Join Now</a>
        <a href="<%= urls.modify_meet %><%= results[i].code %>" class="btn btn-primary">Modify</a>
        <button class="btn btn-danger" onclick="delete_project('<%= urls.delete_meet %><%= results[i].code %>', '<%= results[i].title %>')">Delete</button>
      </div>
    </div>
  <% } %>
<% } else { %>
<div class="alert alert-primary" role="alert">
  You don't have any future meets created.
</div>
<% } %>
</div>
<script src="/js/no_go_back.js"></script>
<script>
  function delete_project(url, title){
    if (confirm("Are you sure you want to delete the meeting with the title " + title + "?"))
      window.location.replace(url);
  }
</script>
<%- include('./partials/footer'); %>
