<%- include('./partials/header'); %>
  <style>
    #video-grid{
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 200px;
    }
    video {
      width: 98%;
      height: 98%;
      object-fit: cover;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    const part_code = '<%= part_code %>'
    const this_room_id = "<%= this_room_id %>";
    const this_user_id = "<%= this_user_id %>";
    const this_user_name = "<%= session.f_name %> <%= session.l_name %>";
    const is_owner = <%= is_owner %>
    const home_url = "<%= urls.home %>"
  </script>
<script defer src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/js/script.js" defer></script>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Participants</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" id="parts-list">
      </div>
    </div>

  <div id="video-grid" class="text-center">
  </div>

  <div class="fixed-bottom text-center m-2">
    <img src="/img/unmute.png" id="audio-btn" width="50px" class="mx-3" onclick="toggleAudio();"> 
    <img src="/img/video.png" id="video-btn" width="50px" class="mx-3" onclick="toggleVideo();"> 
    <img src="/img/no_screenshare.png" id="screenshare-btn" width="50px" class="mx-3" onclick="toggleScreenshare();"> 
    <img src="/img/people.png" id="people-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" width="50px" class="mx-3"> 
    <img src="/img/hangup.png" id="hangup-btn" width="50px" class="mx-3" onclick="hangup('<%= urls.home %>');"> 
  </div>

</div>
<%- include('./partials/footer'); %>
